
{% extends 'Quiz/dependencies.html' %}

{% block content %}
{% load static %}
<div class="container ">
    {% if user.is_authenticated == False %}
    <p class="lead"></p>
        <div class="row"> Xin chào {{user}}, Vui lòng đăng nhập để xem bài thi </div>
        <a class="btn btn-primary btn-lg" href="{% url 'quiz-login' %}" role="button">Đăng Nhập</a>
    </p>
    {% endif %}
   
    {% if user.is_authenticated %}
    <div class="row"> Xin chào {{user}}, Dưới đây là danh sách các bài thi của bạn </div>
    <p class="lead">
        <div class="row">
            {% for as  in assigment%}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">{{as.exam}}</h5>
                  <p class="card-text">Trạng thái: {{as.status}}.</p>
                  <p class="card-text">Số câu: {{as.exam.questions.all.count}}.</p>
                  <p class="card-text">Thời gian: {{as.exam.duration}} phút.</p>
                  <p class="card-text">Bắt đầu: {{as.time_start}} phút.</p>
                  <a href="{% url 'do-assignment' as.id %}" class="btn btn-primary">
                      {% if as.status == "Submitted" %} Xem điểm {% else %} Làm bài {% endif %}
                    </a>
                </div>
              </div>
              {% endfor %}
        </div>
    </p>

    {% endif %}

</div>
{% endblock %}
 
