
{% extends 'Quiz/dependencies.html' %}

{% block content %}
{% load static %}
<div class="container ">
    {% if user.is_authenticated %}
    <div class="row"> Danh sách đề thi </div>
    <br>
    <div class="row">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Kỳ thi</th>
            <th scope="col">Chức năng</th>
          </tr>
        </thead>
        <tbody>
          {% for season in Seasons %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{season.name}}</td>
            <td><a href="{% url 'quiz-assignment-season-detail' season.id %}" class="card-link">Xem</a></td>
          </tr>
          {% endfor %}
          
        </tbody>
      </table>

    </div>
    <br/>
      {% if page_obj.has_next %}
          <a href="/">Tiếp theo</a>
      {% endif %}

    {% endif %}

</div>
{% endblock %}
 
