
{% extends 'Quiz/dependencies.html' %}

{% block content %}
{% load static %}
<div class="container ">
    {% if user.is_authenticated %}
    <div class="row"> Xin chào {{user}}, Danh sách các cuộc thi bạn đã tạo : </div>
    <br>
    <div class="row">

      {% for season in Seasons %}
        <div class="col-sm-4 col-lg-4 d-flex align-items-stretch">
          <div class="card w-75">
              <div class="card-body">
                <p class="card-title">{{season.name}}</p>
                <a href="{% url 'quiz-assignment-season-detail' season.id %}" class="card-link">Xem</a>
              </div>
          </div>
          
        </div>

      {% endfor %}
    </div>
    <br/>
      {% if page_obj.has_next %}
          <a href="/">Tiếp theo</a>
      {% endif %}

    {% endif %}

</div>
{% endblock %}
 
